<h1><%= @worker.name %></h1>
<h2>Age: <%= @worker.age %></h2>

<%= link_to 'Edit Worker', edit_worker_path(@worker) %>
<%= link_to 'Go Back Home', workers_path %>
<%= link_to 'Delete This Worker', worker_path(@worker), :method => 'delete' %>